In [18]:
#載入pandas 模組
import pandas as pd

In [19]:
#載入Series
data = pd.Series([20,10,15])
print(data)

0    20
1    10
2    15
dtype: int64

In [23]:
#基本Series 操作
print("Max",data.max())

print("Median",data.median())

data2 = data*2
print(data2)
#判斷Series中的數字是否符合使用者想要的
data = data == 20
print(data)

Max False
Median 0.0
0    0
1    0
2    0
dtype: int32
0    False
1    False
2    False
dtype: bool

In [24]:
#建立DataFrame
data = pd.DataFrame({
    "name":["Amy","John","Bob"],
    "saraly":[30000,50000,40000]
})

In [30]:
#基本DataFrame 操作
print(data)
#取得特定的欄位
print(data["saraly"])

   name  saraly
0   Amy   30000
1  John   50000
2   Bob   40000
0    30000
1    50000
2    40000
Name: saraly, dtype: int64

In [32]:
#取得特定的列
print(data)
print("==========")
print(data.iloc[1]) #印出第二列

   name  saraly
0   Amy   30000
1  John   50000
2   Bob   40000
==========
name       John
saraly    50000
Name: 1, dtype: object